@font-face {
    font-family: yekan;
    src: url("../fonts/yekan.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: yekanf;
    src: url("../fonts/yekanf.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'IranSans';
    font-weight: 200;
    src: url('../fonts/IRANSansWeb200.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 300;
    src: url('../fonts/IRANSansWeb300.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 400;
    src: url('../fonts/IRANSansWeb400.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 500;
    src: url('../fonts/IRANSansWeb500.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 600;
    src: url('../fonts/IRANSansWeb600.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 900;
    src: url('../fonts/IRANSansWeb900.woff') format('woff');
}

* {
    font-family: IranSans !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}